<Page loaded="pageLoaded">
<ActionBar title="My App" class="action-bar"></ActionBar>
 <StackLayout class="page">
   <Button text="Tap" class="btn btn-primary" tap="tapAction"></Button>
   <Label id="lbl1" text="title 1" textWrap="true" backgroundColor="white"></Label>
   <Label id="lbl2" text="title 2" textWrap="true"  backgroundColor="white"></Label>
   <Image src="https://user-images.githubusercontent.com/544280/42960643-66d498ac-8b5a-11e8-8946-7224eefea6a5.jpg"></Image>
 </StackLayout>
</Page>